@model LocaAmigos.Models.DVO.MovimentacoesVO

@{
    ViewData["Title"] = "Create";
}
<h4>Locar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inicio" class="control-label"></label>
                <input asp-for="inicio" class="form-control" />
                <span asp-validation-for="inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fim" class="control-label"></label>
                <input asp-for="fim" class="form-control" />
                <span asp-validation-for="fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JogosId" class="control-label"></label>
                <select asp-for="JogosId"
                        asp-items="@ViewBag.ListaJogos"></select>              
            </div>
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId"
                        asp-items="@ViewBag.ListaPessoas"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
